@page
@model Blog.UI.Pages.RecipiesModel
@{
}


<div class="d-flex flex-row">
    <div class="filterMenu border-end">
        <div class="d-flex flex-row border-bottom">
            <img class="filterMenuIcon" src="icons/filter.png" />
            <p class="filterTitle">Filter</p>
        </div>
        <div class="tagsList border-bottom pb-4">
            <p class="tagsTitle">Categories</p>
            <button class="btn active tagBtn">Show all</button>
            @if (Model.Recipes is null || !Model.Recipes.Any())
            {
                <div class="apologyText p-3">
                    <strong>Apology!</strong>
                    <br />
                    No recipies was found
                    <br />
                    Please come back later
                </div>
            }
            else
            {
                @foreach (var category in Model.Categories)
                {
                    <button class="btn tagBtn">@category</button>
                } 
            }
        </div>
    </div>
    <div class="recipeList"> 
        <div class="d-flex justify-content-center flex-wrap">

            @foreach (var recipies in @Model.Recipes)
            {
                <div class="card">
                    <img class="card-img-top recipeImg" src="images/file-not-found.jpg" alt="Card image cap">
                    <div class="card-body p-0">
                        <button onclick="@Model.OnGetRecipe(recipies.Id)" class="btn  modalBtn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <p class="card-title">@recipies.Title</p>
                        </button>
                    </div>
                </div>

            }
            <!-- Modal -->
            <div class="modal fade bd-example-modal-xl" id="staticBackdrop" data-target=".bd-example-modal-xl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        @if (@Model.SelectedRecipe is null)
                        {
                            <p>No content ... sorry :(</p>
                        }
                        else
                        {
                            
                            <div class="modal-header">
                                <p class="modal-title" id="staticBackdropLabel">@Model.SelectedRecipe.Title</p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">@Model.SelectedRecipe.Description</p>
                                <ul>
                                    @foreach (var ingredient in @Model.SelectedRecipe.Ingredients)
                                    {
                                        <li>@ingredient</li>
                                    }
                                </ul>
                                <p class="modal-text">@Model.SelectedRecipe.Instructions</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn modalBtn" data-bs-dismiss="modal">Close</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






